[package]
name = "rink"
version = "0.5.0"
authors = ["Tiffany Bennett <tiffany@stormbit.net>"]
description = "Unit conversion tool, similar to frink"
homepage = "https://github.com/tiffany352/rink-rs"
repository = "https://github.com/tiffany352/rink-rs"
readme = "README.md"
license = "MPL-2.0"
keywords = ["unit", "math", "conversion", "cli", "tool"]
edition = "2018"

[dependencies]
linefeed = "0.6.0"
clap = "2.33.1"
dirs = "3.0.1"
reqwest = "0.9.2"
chrono = "0.2.25"

[dependencies.rink-core]
version = "0.5"
path = "./core"

[workspace]
members = ["core", "rink-js"]
