[package]
name = "rink-core"
version = "0.5.1"
authors = ["Tiffany Bennett <tiffany@stormbit.net>"]
description = "Unit conversion library behind rink"
homepage = "https://github.com/tiffany352/rink-rs"
repository = "https://github.com/tiffany352/rink-rs"
readme = "README.md"
license = "MPL-2.0"
keywords = ["unit", "math", "conversion"]
edition = "2018"

[features]
default = ["chrono-humanize", "gpl"]
gpl = []

[dependencies]
num = "0.3.0"
chrono = "0.4.13"
strsim = "0.5.1"
chrono-tz = "0.5.2"
chrono-humanize = { version = "0.0.11", optional = true }
xml-rs = "0.3.4"
json = "0.10.2"
serde = { version = "1", features = ["rc"] }
serde_derive = "1"

[dev_dependencies]
serde_json = "1"
assert-json-diff = "1.1"
