<h1>Rink: Unit-Aware Calculator</h1>

<p>This is the web interface to Rink, an <a
  href="https://github.com/tiffany352/rink-rs/">open-source</a> (MPLv2
  licensed) tool for performing a wide variety of different
  calculations. You can begin by entering a query at the top, or by
  reading the <a
  href="https://github.com/tiffany352/rink-rs/wiki/Rink-Manual">manual
  </a> to get a better idea of how to use it first.</p>

<p>If you find any bugs, find yourself wanting something that is
  missing, have suggestions, or have data sources you'd like added,
  please open an issue on the <a
  href="https://github.com/tiffany352/rink-rs/issues">Github</a>.</p>

<p>This web interface (and Rink itself) is currently a WIP, and there
  are many more features planned that it does not yet implement.</p>
