name: Code Coverage

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # the action needs a nightly toolchain with llvm-tools
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          components: llvm-tools-preview

      # runs cargo with defaults flags, using the default `lcov` output
      - uses: Swatinem/fucov@v1

      # afterwards, upload the report to codecov
      - uses: codecov/codecov-action@v1
        with:
          directory: coverage
